<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content integrity International</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/js/bootstrap.bundle.js" type="text/javascript"></script>
    <script defer src="/fontawesome-free/js/brands.js"></script>
    <script defer src="/fontawesome-free/js/solid.js"></script>
    <script defer src="/fontawesome-free/js/fontawesome.js"></script>
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>
    <div class="sticky-navbar fonts">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#landing-page"
            ><img src="/images/Logo1.jpg" alt="Logo" class="img-logo"
          /></a>
          <p class="nav-text fonts">
            Taking Rights <span style="font-weight: 700">Seriously</span>
          </p>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse move-right"
            id="navbarTogglerDemo02"
          >
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item box-e">
                <a
                  class="nav-link active custom-underline"
                  aria-current="page"
                  href="#landing-page"
                  >Home</a
                >
              </li>
              <li class="nav-item box-e">
                <a class="nav-link custom-underline" href="#mission">Mission</a>
              </li>
              <li class="nav-item box-e">
                <a class="nav-link custom-underline" href="#services"
                  >Services</a
                >
              </li>
              <li class="nav-item box-e">
                <a class="nav-link custom-underline" href="#">Impact</a>
              </li>
              <li class="nav-item box-e">
                <a class="nav-link custom-underline" href="#">Clients</a>
              </li>
              <li class="nav-item box-e">
                <a class="nav-link custom-underline" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <section id="landing-page">
      <div id="myCarousel" class="carousel slide fonts" data-ride="carousel">
        <div
          class="carousel slide"
          id="swpSsHIz8l"
          data-ride="carousel"
          data-interval="5000"
        >
          <ol class="carousel-indicators">
            <div class="tooltip2">
              <a href="#mission">
                <img src="/images/notice.png" alt="notice" class="bottom-right"
              /></a>
              <span class="tooltiptext"
                >Click here if you have recieved a notice from us</span
              >
            </div>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item slider-image item active">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/aksh-yadav-bY4cqxp7vos-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5 style="font-weight: 700; font-size: 19px">
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p style="font-weight: 400; font-size: 16px">
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/jake-hills-23LET4Hxj_U-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5 style="font-weight: 700; font-size: 19px">
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p style="font-weight: 400; font-size: 16px">
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/jonathan-petersson-ARU18GpF6QQ-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5 style="font-weight: 700; font-size: 19px">
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p style="font-weight: 400; font-size: 16px">
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/nasa-Q1p7bh3SHj8-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5 style="font-weight: 700; font-size: 19px">
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p style="font-weight: 400; font-size: 16px">
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/jj-ying-8bghKxNU1j0-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5 style="font-weight: 700; font-size: 19px">
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p style="font-weight: 400; font-size: 16px">
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="mission">
      <div class="fonts our-mission">
        <div class="_70-block">
          <p style="font-size: 60px; font-weight: 700">Our Mission</p>
          <p class="mission-text">
            CII uses a unique combination of legal expertise, forensic analysts
            and advanced technology to detect and take down pirated content in
            real time.
            <br />
            <br />
            Designed for rights holders and broadcasters to combat piracy, CII
            powers companies to recapture views that would otherwise be lost to
            pirated streams – protecting IP and revenue.
          </p>
        </div>

        <div class="_30-block">
          <div id="slideshow">
            <div>
              <img
                src="/images/tobias-tullius-4dKy7d3lkKM-unsplash.jpg"
                class="image-slideshow"
              />
            </div>
            <div>
              <img
                src="/images/markus-winkler-9XfSFjcwGh0-unsplash.jpg"
                class="image-slideshow"
              />
            </div>
            <div>
              <img
                src="/images/farzad-nazifi-p-xSl33Wxyc-unsplash.jpg"
                class="image-slideshow"
              />
            </div>
            <div>
              <img
                src="/images/agence-olloweb-qfp4-Ud6Fyg-unsplash.jpg"
                class="image-slideshow"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="services">
      <h3 class="fonts services-header">Services</h3>
      <div class="card-deck">
        <div class="card mb-3" style="max-width: 540px; background-color: #005a98;">
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-broadcast-tower icons"></i>
                <rect width="100%" height="100%" fill="#868e96" />
              </svg>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text fonts">
                  Do your terms of use need monitoring?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px; background-color: #005aab;">
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-copyright icons"></i>
                <rect width="100%" height="100%" fill="#868e96" />
              </svg>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text fonts">
                  Are your videos being pirated? Is your content being copied?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px; background-color: #0061a8;">
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-registered icons"></i>
                <rect width="100%" height="100%" fill="#868e96" />
              </svg>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text fonts">
                  Are your trademarks and designs being infringed?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div class="card mb-3" style="max-width: 540px; background-color: #005cba;">
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-tasks icons"></i>
                <rect width="100%" height="100%" fill="#868e96" />
              </svg>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text fonts">
                  Do you need to conduct an audit of your digital assets?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px; background-color: #2978b5;">
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-tags icons"></i>
                <rect width="100%" height="100%" fill="#868e96" />
              </svg>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text fonts">
                  Is your brand being diluted online?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px; background-color: #3d84b8;">
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-balance-scale-left icons"></i>
                <rect width="100%" height="100%" fill="#868e96" />
              </svg>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text fonts">
                  Are your products or services being illegally re-sold?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="helpbox">
        <p class="fonts help">Yes? We can help.</p>
        <a href="#mission"><button type="button" class="btn btn-lg btn-primary" data-bs-toggle="button" autocomplete="off">Click to Connect</button></a>
      </div>
    </section>

    <!-- <script src="../app.js"></script> -->
    <script>
      $("#myCarousel").carousel({
        interval: 5000,
        keyboard: false,
        ride: "carousel",
      });

      $("#slideshow > div:gt(0)").hide();

      setInterval(function () {
        $("#slideshow > div:first")
          .fadeOut(1000)
          .next()
          .fadeIn(1000)
          .end()
          .appendTo("#slideshow");
      }, 3000);
    </script>
  </body>
</html>
