<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content integrity International</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/js/bootstrap.bundle.js" type="text/javascript"></script>
    <script defer src="/fontawesome-free/js/brands.js"></script>
    <script defer src="/fontawesome-free/js/solid.js"></script>
    <script defer src="/fontawesome-free/js/fontawesome.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="/css/master.css" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/images/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/images/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/images/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/images/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/images/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/images/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/images/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/images/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/images/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/images/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/images/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <div class="sticky-navbar fonts">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#landing-page"
            ><img
              src="/images/Logo2.png"
              alt="Logo"
              class="img-logo animate__animated animate__fadeInUpBig"
          /></a>
          <p class="nav-text fonts animate__animated animate__fadeInUpBig">
            Taking Rights <span style="font-weight: 700">Seriously</span>
          </p>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#NavBar"
            aria-controls="NavBar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse move-right" id="NavBar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item box-e">
                <a
                  class="
                    nav-link
                    active
                    custom-underline
                    animate__animated animate__fadeInUpBig
                  "
                  aria-current="page"
                  href="#landing-page"
                  >Home</a
                >
              </li>
              <li class="nav-item box-e">
                <a
                  class="
                    nav-link
                    custom-underline
                    animate__animated animate__fadeInUpBig
                  "
                  href="#mission"
                  >Mission</a
                >
              </li>
              <li class="nav-item box-e">
                <a
                  class="
                    nav-link
                    custom-underline
                    animate__animated animate__fadeInUpBig
                  "
                  href="#services"
                  >Services</a
                >
              </li>
              <li class="nav-item box-e">
                <a
                  class="
                    nav-link
                    custom-underline
                    animate__animated animate__fadeInUpBig
                  "
                  href="#impact"
                  >Impact</a
                >
              </li>
              <li class="nav-item box-e">
                <a
                  class="
                    nav-link
                    custom-underline
                    animate__animated animate__fadeInUpBig
                  "
                  href="#clients"
                  >Clients</a
                >
              </li>
              <li class="nav-item box-e">
                <a
                  class="
                    nav-link
                    custom-underline
                    animate__animated animate__fadeInUpBig
                  "
                  href="#contactus"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <section id="landing-page">
      <div id="myCarousel" class="carousel slide fonts" data-ride="carousel">
        <div
          class="carousel slide"
          id="swpSsHIz8l"
          data-ride="carousel"
          data-interval="5000"
        >
          <ol class="carousel-indicators">
            <div class="tooltip2">
              <a onclick="ShowAndHide()" href="#notice">
                <img
                  src="/images/notice.png"
                  alt="notice"
                  class="bottom-right animate__animated animate__fadeInUpBig"
              /></a>
              <span class="tooltiptext"
                >Click here if you have recieved a notice from us</span
              >
            </div>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item slider-image item active">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/aksh-yadav-bY4cqxp7vos-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5
                    class="
                      caption-header
                      animate__animated animate__fadeInUpBig
                    "
                  >
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p
                    class="caption-text animate__animated animate__fadeInUpBig"
                  >
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/jake-hills-23LET4Hxj_U-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5
                    class="
                      caption-header
                      animate__animated animate__fadeInUpBig
                    "
                  >
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p
                    class="caption-text animate__animated animate__fadeInUpBig"
                  >
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/jonathan-petersson-ARU18GpF6QQ-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5
                    class="
                      caption-header
                      animate__animated animate__fadeInUpBig
                    "
                  >
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p
                    class="caption-text animate__animated animate__fadeInUpBig"
                  >
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/nasa-Q1p7bh3SHj8-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5
                    class="
                      caption-header
                      animate__animated animate__fadeInUpBig
                    "
                  >
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p
                    class="caption-text animate__animated animate__fadeInUpBig"
                  >
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/jj-ying-8bghKxNU1j0-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5
                    class="
                      caption-header
                      animate__animated animate__fadeInUpBig
                    "
                  >
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p
                    class="caption-text animate__animated animate__fadeInUpBig"
                  >
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="mission">
      <div class="fonts our-mission">
        <div class="_70-block">
          <p class="mission-header animate__animated">Our Mission</p>
          <p class="mission-text animate__animated">
            CII uses a unique combination of legal expertise, forensic analysts
            and advanced technology to detect and take down pirated content in
            real time.
            <br />
            <br />
            Designed for rights holders and broadcasters to combat piracy, CII
            powers companies to recapture views that would otherwise be lost to
            pirated streams – protecting IP and revenue.
          </p>
        </div>

        <div class="_30-block animate__animated">
          <div id="slideshow">
            <div>
              <img
                src="/images/tobias-tullius-4dKy7d3lkKM-unsplash.jpg"
                class="image-slideshow"
              />
            </div>
            <div>
              <img
                src="/images/markus-winkler-9XfSFjcwGh0-unsplash.jpg"
                class="image-slideshow"
              />
            </div>
            <div>
              <img
                src="/images/farzad-nazifi-p-xSl33Wxyc-unsplash.jpg"
                class="image-slideshow"
              />
            </div>
            <div>
              <img
                src="/images/agence-olloweb-qfp4-Ud6Fyg-unsplash.jpg"
                class="image-slideshow"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="services">
      <h3 class="fonts services-header animate__animated">Services</h3>
      <div class="card-deck">
        <div
          class="card mb-3 animate__animated card-1"
          style="max-width: 540px; background-color: #005a98"
        >
          <div class="row no-gutters">
            <div class="col-md-5">
              <i
                class="fas fa-broadcast-tower icons icons-1 animate__animated"
              ></i>
              <rect width="100%" height="100%" fill="#868e96" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p
                  class="card-text fonts animate__animated animate__slideInLeft"
                >
                  Do your terms of use need monitoring?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card mb-3 animate__animated card-2"
          style="max-width: 540px; background-color: #005a98"
        >
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-copyright icons icons-2 animate__animated"></i>
              <rect width="100%" height="100%" fill="#868e96" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p
                  class="card-text fonts animate__animated animate__slideInLeft"
                >
                  Are your videos being pirated?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card mb-3 animate__animated card-3"
          style="max-width: 540px; background-color: #005a98"
        >
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-registered icons animate__animated icons-3"></i>
              <rect width="100%" height="100%" fill="#868e96" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p
                  class="card-text fonts animate__animated animate__slideInLeft"
                >
                  Are your trademarks and designs being infringed?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div
          class="card mb-3 animate__animated card-4"
          style="max-width: 540px; background-color: #005a98"
        >
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-tasks icons animate__animated icons-4"></i>
              <rect width="100%" height="100%" fill="#868e96" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p
                  class="card-text fonts animate__animated animate__slideInLeft"
                >
                  Do you need to conduct an audit of your digital assets?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card mb-3 animate__animated card-5"
          style="max-width: 540px; background-color: #005a98"
        >
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-copy icons animate__animated icons-5"></i>
              <rect width="100%" height="100%" fill="#868e96" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p
                  class="card-text fonts animate__animated animate__slideInLeft"
                >
                  Is your content being copied?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card mb-3 animate__animated card-6"
          style="max-width: 540px; background-color: #005a98"
        >
          <div class="row no-gutters">
            <div class="col-md-5">
              <i
                class="
                  fas
                  fa-balance-scale-left
                  icons
                  animate__animated
                  icons-6
                "
              ></i>
              <rect width="100%" height="100%" fill="#868e96" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p
                  class="card-text fonts animate__animated animate__slideInLeft"
                >
                  Are your products or services being illegally re-sold?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="helpbox">
        <p class="fonts help animate__animated">Yes? We can help.</p>
        <a href="#contactus"
          ><button
            type="button"
            class="btn btn-lg btn-primary btn-services animate__animated"
            data-bs-toggle="button"
            autocomplete="off"
          >
            Click to Connect
          </button></a
        >
      </div>
    </section>
    <section id="impact">
      <div class="fonts impact-page">
        <div class="_30">
          <p class="impact-header animate__animated">Impact & Experience</p>
          <p class="impact-text-left animate__animated">
            Our monitoring, detection and enforcement solutions help you
            understand and address piracy of your content.
          </p>
        </div>
        <div class="_70">
          <h3
            class="
              impact-title-title
              fonts
              animate__animated
              impact-title-title1
            "
          >
            Content Protection
          </h3>
          <div class="blocks animate__animated animate__slideInRight">
            <p class="impact-title animate__animated impact-title1">Case 1</p>
            <i
              class="
                fas
                fa-video-slash
                icons-impact
                animate__animated
                icons-impact1
              "
            ></i>
            <p class="impact-numbers animate__animated impact-numbers1">23.5</p>
            <p class="impact-text animate__animated impact-text1">Outcome 1</p>
          </div>
          <h3
            class="
              impact-title-title
              fonts
              animate__animated
              impact-title-title2
            "
          >
            Brand Protection
          </h3>
          <div class="blocks animate__animated animate__slideInRight">
            <p class="impact-title animate__animated impact-title2">Case 2</p>
            <i
              class="fas fa-images icons-impact animate__animated icons-impact2"
            ></i>
            <p class="impact-numbers animate__animated impact-numbers2">10</p>
            <p class="impact-text animate__animated impact-text2">Outcome 2</p>
          </div>
          <h3
            class="
              impact-title-title
              fonts
              animate__animated
              impact-title-title3
            "
          >
            Business Protection
          </h3>
          <div class="blocks animate__animated animate__slideInRight">
            <p class="impact-title animate__animated impact-title3">Case 3</p>
            <i
              class="
                fas
                fa-business-time
                icons-impact
                animate__animated
                icons-impact3
              "
            ></i>
            <p class="impact-numbers animate__animated impact-numbers3">78</p>
            <p class="impact-text animate__animated impact-text3">Outcome 3</p>
          </div>
        </div>
      </div>
    </section>

    <section id="clients">
      <h3 class="fonts clients-header animate__animated">Clients</h3>
      <div class="images-box">
        <div class="images-row-1">
          <img
            src="/images/icc.png"
            alt="icc"
            class="clients-image animate__animated image-1"
          />
          <img
            src="/images/canva.png"
            alt="canva"
            class="clients-image animate__animated image-2"
          />
          <img
            src="/images/ipl.png"
            alt="ipl"
            class="clients-image animate__animated image-3"
          />
          <img
            src="/images/superrugby.png"
            alt="superrugby"
            class="clients-image animate__animated image-4"
          />
        </div>
        <div class="images-row-2">
          <img
            src="/images/disneyhotstar.jpeg"
            alt="disneyhotstar"
            class="clients-image animate__animated image-5"
          />
          <img
            src="/images/cricketaustralia.jpg"
            alt="cricketaustralia"
            class="clients-image animate__animated image-6"
          />
          <img
            src="/images/sanzaar.png"
            alt="sanzaar"
            class="clients-image animate__animated image-7"
          />
          <img
            src="/images/star.png"
            alt="star"
            class="clients-image animate__animated image-8"
          />
        </div>
      </div>
      <div class="clients-text animate__animated">
        <p>
          Our monitoring, detection and enforcement solutions help you
          understand and address piracy of your content.
        </p>
      </div>
    </section>

    <section id="contactus">
      <h3 class="fonts contact-header animate__animated">Contact Us</h3>
      <div>
        <form action="" autocomplete="on" class="contact-form fonts">
          <input
            type="text"
            placeholder="Name*"
            required
            class="contact-name fonts animate__animated"
          />
          <input
            type="text"
            placeholder="Email*"
            required
            class="contact-email fonts animate__animated"
          />
          <br />
          <input
            type="text"
            placeholder="Subject*"
            required
            class="contact-subject fonts animate__animated"
          />
          <br />
          <input
            type="textarea"
            placeholder="Message*"
            required
            class="contact-message fonts animate__animated"
          />
          <br />
          <div class="contact-info">
            <i class="fas fa-envelope icon-contact animate__animated"></i>
            <p class="contact-email-info animate__animated">
              INFO.@COPYRIGHTIINTEGRITY.COM
            </p>
            <input
              type="submit"
              class="btn btn-lg btn-primary btn-contact animate__animated"
              data-bs-toggle="button"
            />
          </div>
        </form>
      </div>
    </section>

    <section id="notice" style="display: none">
      <h3 class="fonts notice-header animate__animated">
        Received a Notice from us?
      </h3>
      <div class="notice-box">
        <ul class="notice-list fonts animate__animated">
          <li>
            If you have received an Advance, Caution or Warning Notice from us,
            please make note of the contents. No further action needs to be
            taken on your part provided that your online and mobile activities,
            and the online and mobile activities of your business and/or
            organisation, do not in any way conflict with or compromise the
            proprietary rights of our clients.
          </li>
          <li>
            If you have received a Cease & Desist, Information Disclosure or
            Litigation Notice, read on.
          </li>
          <li>
            We send website operators and internet intermediaries legal notices
            on behalf of numerous rights holders. In every case, we undertake a
            detailed investigation on behalf of our clients prior to sending a
            notice. In most cases, infringers who respond expeditiously to our
            notices and refrain from repeat infringement of our clients' rights
            do not suffer any further legal consequences.
          </li>
          <li>
            If you have received a notice about a website you own, either
            directly addressed to you or forwarded to you by a service provider,
            it is essential that you take action on it expeditiously.
          </li>
          <li>
            If you require any additional information regarding the infringing
            content in question or your obligations and responsibilities
            relating to this content, you may email us at legal [@]
            copyrightintegrity [.] com specifying the Case Reference of the
            notice in the subject of your email.
          </li>
          <li>
            If you are a service provider and require further information on the
            violations reported in a notice, please first suspend the account(s)
            in question and write to us at escalation [@] copyrightintegrity [.]
            com.
          </li>
          <li>
            If you believe you have received a notice in error, please write to
            us at legal [@] copyrightintegrity [.] com specifying the Case
            Reference of the notice and providing information supporting your
            claim.
          </li>
          <li>
            If you seek clarification on the consequences of copyright or
            trademark infringement please seek independent legal advice.
          </li>
          <li>
            All cases of infringement are investigated and documented fully.
            Your failure to respond appropriately to a legal notice may have
            serious implications on your legal position in any resulting civil
            and/or criminal litigation.
          </li>
        </ul>
      </div>
      <a href="#contactus"
        ><button
          type="button"
          class="btn btn-lg btn-primary btn-notice animate__animated"
          data-bs-toggle="button"
        >
          Contact Us
        </button></a
      >
    </section>
    <section>
      <div>
        <p class="footer">
          © 2021, Copyright Integrity International. All rights reserved.
        </p>
      </div>
    </section>

    <script>
      $(".navbar-nav li a").on("click", function () {
        $(".navbar-nav li a").removeClass("active");
        $(this).addClass("active");
      });

      $("#myCarousel").carousel({
        interval: 5000,
        keyboard: false,
        ride: "carousel",
      });

      $("#slideshow > div:gt(0)").hide();

      setInterval(function () {
        $("#slideshow > div:first")
          .fadeOut(1000)
          .next()
          .fadeIn(1000)
          .end()
          .appendTo("#slideshow");
      }, 3000);

      function ShowAndHide() {
        var x = document.getElementById("notice");
        if (x.style.display == "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }

      // Mission Observer
      let MissionObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          let missionHeader = entry.target.querySelector(".mission-header");
          let missionText = entry.target.querySelector(".mission-text");
          let missionSlide = entry.target.querySelector("._30-block");

          if (entry.isIntersecting) {
            missionHeader.classList.add("animate__slideInLeft");
            missionText.classList.add("animate__slideInLeft");
            missionSlide.classList.add("animate__slideInRight");
            return;
          }

          missionHeader.classList.remove("animate__slideInLeft");
          missionText.classList.remove("animate__slideInLeft");
          missionSlide.classList.remove("animate__slideInRight");
        });
      });
      MissionObserver.observe(document.querySelector("#mission"));

      // Services Observer
      let ServicesObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          let servicesHeader = entry.target.querySelector(".services-header");
          let servicesCardBody1 = entry.target.querySelector(".card-1");
          let servicesIcon1 = entry.target.querySelector(".icons-1");
          let servicesCardBody2 = entry.target.querySelector(".card-2");
          let servicesIcon2 = entry.target.querySelector(".icons-2");
          let servicesCardBody3 = entry.target.querySelector(".card-3");
          let servicesIcon3 = entry.target.querySelector(".icons-3");
          let servicesCardBody4 = entry.target.querySelector(".card-4");
          let servicesIcon4 = entry.target.querySelector(".icons-4");
          let servicesCardBody5 = entry.target.querySelector(".card-5");
          let servicesIcon5 = entry.target.querySelector(".icons-5");
          let servicesCardBody6 = entry.target.querySelector(".card-6");
          let servicesIcon6 = entry.target.querySelector(".icons-6");
          let servicesHelp = entry.target.querySelector(".help");
          let servicesButton = entry.target.querySelector(".btn-services");

          if (entry.isIntersecting) {
            servicesHeader.classList.add("animate__slideInLeft");
            servicesCardBody1.classList.add("animate__slideInLeft");
            servicesIcon1.classList.add("animate__slideInLeft");
            servicesCardBody2.classList.add("animate__slideInLeft");
            servicesIcon2.classList.add("animate__slideInLeft");
            servicesCardBody3.classList.add("animate__slideInLeft");
            servicesIcon3.classList.add("animate__slideInLeft");
            servicesCardBody4.classList.add("animate__slideInLeft");
            servicesIcon4.classList.add("animate__slideInLeft");
            servicesCardBody5.classList.add("animate__slideInLeft");
            servicesIcon5.classList.add("animate__slideInLeft");
            servicesCardBody6.classList.add("animate__slideInLeft");
            servicesIcon6.classList.add("animate__slideInLeft");
            servicesHelp.classList.add("animate__slideInLeft");
            servicesButton.classList.add("animate__slideInLeft");
            return;
          }

          servicesHeader.classList.remove("animate__slideInLeft");
          servicesCardBody1.classList.remove("animate__slideInLeft");
          servicesIcon1.classList.remove("animate__slideInLeft");
          servicesCardBody2.classList.remove("animate__slideInLeft");
          servicesIcon2.classList.remove("animate__slideInLeft");
          servicesCardBody3.classList.remove("animate__slideInLeft");
          servicesIcon3.classList.remove("animate__slideInLeft");
          servicesCardBody4.classList.remove("animate__slideInLeft");
          servicesIcon4.classList.remove("animate__slideInLeft");
          servicesCardBody5.classList.remove("animate__slideInLeft");
          servicesIcon5.classList.remove("animate__slideInLeft");
          servicesCardBody6.classList.remove("animate__slideInLeft");
          servicesIcon6.classList.remove("animate__slideInLeft");
          servicesHelp.classList.remove("animate__slideInLeft");
          servicesButton.classList.remove("animate__slideInLeft");
        });
      });
      ServicesObserver.observe(document.querySelector("#services"));

      // Impact Observer
      let ImpactObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          let impactHeader = entry.target.querySelector(".impact-header");
          let impactTextLeft = entry.target.querySelector(".impact-text-left");
          let impactTitleTitle1 = entry.target.querySelector(
            ".impact-title-title1"
          );
          let impactTitleTitle2 = entry.target.querySelector(
            ".impact-title-title2"
          );
          let impactTitleTitle3 = entry.target.querySelector(
            ".impact-title-title3"
          );
          let impactTitle1 = entry.target.querySelector(".impact-title1");
          let impactIcon1 = entry.target.querySelector(".icons-impact1");
          let impactNumber1 = entry.target.querySelector(".impact-numbers1");
          let impactText1 = entry.target.querySelector(".impact-text1");
          let impactTitle2 = entry.target.querySelector(".impact-title2");
          let impactIcon2 = entry.target.querySelector(".icons-impact2");
          let impactNumber2 = entry.target.querySelector(".impact-numbers2");
          let impactText2 = entry.target.querySelector(".impact-text2");
          let impactTitle3 = entry.target.querySelector(".impact-title3");
          let impactIcon3 = entry.target.querySelector(".icons-impact3");
          let impactNumber3 = entry.target.querySelector(".impact-numbers3");
          let impactText3 = entry.target.querySelector(".impact-text3");

          if (entry.isIntersecting) {
            impactHeader.classList.add("animate__fadeInLeft");
            impactTextLeft.classList.add("animate__fadeInLeft");
            impactTitleTitle1.classList.add("animate__slideInDown");
            impactTitle1.classList.add("animate__slideInRight");
            impactIcon1.classList.add("animate__slideInRight");
            impactNumber1.classList.add("animate__slideInRight");
            impactText1.classList.add("animate__slideInRight");
            impactTitleTitle2.classList.add("animate__slideInDown");
            impactTitle2.classList.add("animate__slideInRight");
            impactIcon2.classList.add("animate__slideInRight");
            impactNumber2.classList.add("animate__slideInRight");
            impactText2.classList.add("animate__slideInRight");
            impactTitleTitle3.classList.add("animate__slideInDown");
            impactTitle3.classList.add("animate__slideInRight");
            impactIcon3.classList.add("animate__slideInRight");
            impactNumber3.classList.add("animate__slideInRight");
            impactText3.classList.add("animate__slideInRight");
            return;
          }

          impactHeader.classList.remove("animate__fadeInLeft");
          impactTextLeft.classList.remove("animate__fadeInLeft");
          impactTitleTitle1.classList.remove("animate__slideInDown");
          impactTitle1.classList.remove("animate__slideInRight");
          impactIcon1.classList.remove("animate__slideInRight");
          impactNumber1.classList.remove("animate__slideInRight");
          impactText1.classList.remove("animate__slideInRight");
          impactTitleTitle2.classList.remove("animate__slideInDown");
          impactTitle2.classList.remove("animate__slideInRight");
          impactIcon2.classList.remove("animate__slideInRight");
          impactNumber2.classList.remove("animate__slideInRight");
          impactText2.classList.remove("animate__slideInRight");
          impactTitleTitle3.classList.remove("animate__slideInDown");
          impactTitle3.classList.remove("animate__slideInRight");
          impactIcon3.classList.remove("animate__slideInRight");
          impactNumber3.classList.remove("animate__slideInRight");
          impactText3.classList.remove("animate__slideInRight");
        });
      });
      ImpactObserver.observe(document.querySelector("#impact"));

      // Clients Observer
      let ClientsObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          let clientsHeader = entry.target.querySelector(".clients-header");
          let clients1 = entry.target.querySelector(".image-1");
          let clients2 = entry.target.querySelector(".image-2");
          let clients3 = entry.target.querySelector(".image-3");
          let clients4 = entry.target.querySelector(".image-4");
          let clients5 = entry.target.querySelector(".image-5");
          let clients6 = entry.target.querySelector(".image-6");
          let clients7 = entry.target.querySelector(".image-7");
          let clients8 = entry.target.querySelector(".image-8");
          let clientsText = entry.target.querySelector(".clients-text");

          if (entry.isIntersecting) {
            clientsHeader.classList.add("animate__fadeInUp");
            clients1.classList.add("animate__fadeInTopLeft");
            clients2.classList.add("animate__fadeInDown");
            clients3.classList.add("animate__fadeInDown");
            clients4.classList.add("animate__fadeInTopRight");
            clients5.classList.add("animate__fadeInBottomLeft");
            clients6.classList.add("animate__fadeInUp");
            clients7.classList.add("animate__fadeInUp");
            clients8.classList.add("animate__fadeInBottomRight");
            clientsText.classList.add("animate__fadeInUp");
            return;
          }

          clientsHeader.classList.remove("animate__fadeInUp");
          clients1.classList.add("animate__fadeInTopLeft");
          clients2.classList.remove("animate__fadeInDown");
          clients3.classList.remove("animate__fadeInDown");
          clients4.classList.remove("animate__fadeInTopRight");
          clients5.classList.remove("animate__fadeInBottomLeft");
          clients6.classList.remove("animate__fadeInUp");
          clients7.classList.remove("animate__fadeInUp");
          clients8.classList.remove("animate__fadeInBottomRight");
          clientsText.classList.remove("animate__fadeInUp");
        });
      });
      ClientsObserver.observe(document.querySelector("#clients"));

      // Contact Us observer
      let ContactUsObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          let contactHeader = entry.target.querySelector(".contact-header");
          let contactName = entry.target.querySelector(".contact-name");
          let contactEmail = entry.target.querySelector(".contact-email");
          let contactSubject = entry.target.querySelector(".contact-subject");
          let contactMessage = entry.target.querySelector(".contact-message");
          let contactIcon = entry.target.querySelector(".icon-contact");
          let contactInfo = entry.target.querySelector(".contact-email-info");
          let contactButton = entry.target.querySelector(".btn-contact");

          if (entry.isIntersecting) {
            contactHeader.classList.add("animate__slideInDown");
            contactName.classList.add("animate__slideInLeft");
            contactEmail.classList.add("animate__slideInRight");
            contactSubject.classList.add("animate__slideInLeft");
            contactMessage.classList.add("animate__slideInRight");
            contactIcon.classList.add("animate__slideInUp");
            contactInfo.classList.add("animate__slideInUp");
            contactButton.classList.add("animate__slideInUp");
            return;
          }

          contactHeader.classList.remove("animate__slideInDown");
          contactName.classList.remove("animate__slideInLeft");
          contactEmail.classList.remove("animate__slideInRight");
          contactSubject.classList.remove("animate__slideInLeft");
          contactMessage.classList.remove("animate__slideInRight");
          contactIcon.classList.remove("animate__slideInUp");
          contactInfo.classList.remove("animate__slideInUp");
          contactButton.classList.remove("animate__slideInUp");
        });
      });
      ContactUsObserver.observe(document.querySelector("#contactus"));

      // Notice Observer
      let NoticeObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          let noticeHeader = entry.target.querySelector(".notice-header");
          let noticeList = entry.target.querySelector(".notice-list");
          let noticeButton = entry.target.querySelector(".btn-notice");

          if (entry.isIntersecting) {
            noticeHeader.classList.add("animate__flash");
            noticeList.classList.add("animate__flash");
            noticeButton.classList.add("animate__slideInRight");
            return;
          }

          noticeHeader.classList.remove("animate__flash");
          noticeList.classList.remove("animate__flash");
          noticeButton.classList.remove("animate__slideInRight");
        });
      });
      NoticeObserver.observe(document.querySelector("#notice"));

      document.body.classList.add("js-loading");
      window.addEventListener("load", showPage);
      function showPage() {
        document.body.classList.remove("js-loading");
      }
    </script>
  </body>
</html>
