<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content integrity International</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/js/bootstrap.bundle.js" type="text/javascript"></script>
    <script defer src="/fontawesome-free/js/brands.js"></script>
    <script defer src="/fontawesome-free/js/solid.js"></script>
    <script defer src="/fontawesome-free/js/fontawesome.js"></script>
    <link rel="stylesheet" href="/css/master.css" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/images/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/images/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/images/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/images/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/images/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/images/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/images/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/images/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/images/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/images/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/images/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <div class="sticky-navbar fonts">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#landing-page"
            ><img src="/images/Logo1.jpg" alt="Logo" class="img-logo"
          /></a>
          <p class="nav-text fonts">
            Taking Rights <span style="font-weight: 700">Seriously</span>
          </p>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#NavBar"
            aria-controls="NavBar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse move-right" id="NavBar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item box-e">
                <a
                  class="nav-link active custom-underline"
                  aria-current="page"
                  href="#landing-page"
                  >Home</a
                >
              </li>
              <li class="nav-item box-e">
                <a class="nav-link custom-underline" href="#mission">Mission</a>
              </li>
              <li class="nav-item box-e">
                <a class="nav-link custom-underline" href="#services"
                  >Services</a
                >
              </li>
              <li class="nav-item box-e">
                <a class="nav-link custom-underline" href="#impact">Impact</a>
              </li>
              <li class="nav-item box-e">
                <a class="nav-link custom-underline" href="#clients">Clients</a>
              </li>
              <li class="nav-item box-e">
                <a class="nav-link custom-underline" href="#contactus"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <section id="landing-page">
      <div id="myCarousel" class="carousel slide fonts" data-ride="carousel">
        <div
          class="carousel slide"
          id="swpSsHIz8l"
          data-ride="carousel"
          data-interval="5000"
        >
          <ol class="carousel-indicators">
            <div class="tooltip2">
              <a onclick="ShowAndHide()" href="#notice">
                <img src="/images/notice.png" alt="notice" class="bottom-right"
              /></a>
              <span class="tooltiptext"
                >Click here if you have recieved a notice from us</span
              >
            </div>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item slider-image item active">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/aksh-yadav-bY4cqxp7vos-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5 class="caption-header">
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p class="caption-text">
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/jake-hills-23LET4Hxj_U-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5 class="caption-header">
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p class="caption-text">
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/jonathan-petersson-ARU18GpF6QQ-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5 class="caption-header">
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p class="caption-text">
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/nasa-Q1p7bh3SHj8-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5 class="caption-header">
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p class="caption-text">
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                <img
                  class="d-block w-100 img-fluid"
                  src="/images/jj-ying-8bghKxNU1j0-unsplash (1).jpg"
                />

                <div class="carousel-caption">
                  <h5 class="caption-header">
                    CII is a world leader in protecting valuable digital assets,
                    intellectual property rights and Business models.
                  </h5>
                  <p class="caption-text">
                    Founded in 2007, we are engaged by the world’s most
                    progressive businesses to protect and augment their rights
                    and interests. We offer our clients comprehensive, effective
                    solutions that bring together technology, legal expertise
                    and commercial acumen.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="mission">
      <div class="fonts our-mission">
        <div class="_70-block">
          <p style="font-size: 60px; font-weight: 700">Our Mission</p>
          <p class="mission-text">
            CII uses a unique combination of legal expertise, forensic analysts
            and advanced technology to detect and take down pirated content in
            real time.
            <br />
            <br />
            Designed for rights holders and broadcasters to combat piracy, CII
            powers companies to recapture views that would otherwise be lost to
            pirated streams – protecting IP and revenue.
          </p>
        </div>

        <div class="_30-block">
          <div id="slideshow">
            <div>
              <img
                src="/images/tobias-tullius-4dKy7d3lkKM-unsplash.jpg"
                class="image-slideshow"
              />
            </div>
            <div>
              <img
                src="/images/markus-winkler-9XfSFjcwGh0-unsplash.jpg"
                class="image-slideshow"
              />
            </div>
            <div>
              <img
                src="/images/farzad-nazifi-p-xSl33Wxyc-unsplash.jpg"
                class="image-slideshow"
              />
            </div>
            <div>
              <img
                src="/images/agence-olloweb-qfp4-Ud6Fyg-unsplash.jpg"
                class="image-slideshow"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="services">
      <h3 class="fonts services-header">Services</h3>
      <div class="card-deck">
        <div
          class="card mb-3"
          style="max-width: 540px; background-color: #005a98"
        >
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-broadcast-tower icons"></i>
              <rect width="100%" height="100%" fill="#868e96" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text fonts">
                  Do your terms of use need monitoring?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card mb-3"
          style="max-width: 540px; background-color: #005aab"
        >
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-copyright icons"></i>
              <rect width="100%" height="100%" fill="#868e96" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text fonts">
                  Are your videos being pirated? Is your content being copied?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card mb-3"
          style="max-width: 540px; background-color: #0061a8"
        >
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-registered icons"></i>
              <rect width="100%" height="100%" fill="#868e96" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text fonts">
                  Are your trademarks and designs being infringed?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-deck">
        <div
          class="card mb-3"
          style="max-width: 540px; background-color: #005cba"
        >
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-tasks icons"></i>
              <rect width="100%" height="100%" fill="#868e96" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text fonts">
                  Do you need to conduct an audit of your digital assets?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card mb-3"
          style="max-width: 540px; background-color: #2978b5"
        >
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-tags icons"></i>
              <rect width="100%" height="100%" fill="#868e96" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text fonts">
                  Is your brand being diluted online?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card mb-3"
          style="max-width: 540px; background-color: #3d84b8"
        >
          <div class="row no-gutters">
            <div class="col-md-5">
              <i class="fas fa-balance-scale-left icons"></i>
              <rect width="100%" height="100%" fill="#868e96" />
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="card-text fonts">
                  Are your products or services being illegally re-sold?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="helpbox">
        <p class="fonts help">Yes? We can help.</p>
        <a href="#contactus"
          ><button
            type="button"
            class="btn btn-lg btn-primary btn-services"
            data-bs-toggle="button"
            autocomplete="off"
          >
            Click to Connect
          </button></a
        >
      </div>
    </section>
    <section id="impact">
      <div class="fonts impact-page">
        <div class="_30">
          <p class="impact-header">Impact & Experience</p>
          <p class="impact-text-left">
            Our monitoring, detection and enforcement solutions help you
            understand and address piracy of your content.
          </p>
        </div>
        <div class="_70">
          <div class="blocks">
            <p class="impact-title">Content Protection</p>
            <i class="fas fa-search icons-impact"></i>
            <p class="impact-numbers">23.5</p>
            <p class="impact-text">
              <span style="font-weight: 700">Million</span> pirate search engine
              results removed
            </p>
          </div>
          <div class="blocks">
            <p class="impact-title">Brand Protection</p>
            <i class="fas fa-video-slash icons-impact"></i>
            <p class="impact-numbers">10</p>
            <p class="impact-text">
              <span style="font-weight: 700">Million</span> unauthorized videos
              taken down
            </p>
          </div>
          <div class="blocks">
            <p class="impact-title">Business Protection</p>
            <i class="fab fa-youtube icons-impact"></i>
            <p class="impact-numbers">78</p>
            <p class="impact-text">
              <span style="font-weight: 700">Thousand</span> hours of live
              content protected
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="clients">
      <h3 class="fonts clients-header">Clients</h3>
      <div class="images-box">
        <div class="images-row-1">
          <img src="/images/icc.png" alt="icc" class="clients-image" />
          <img src="/images/canva.png" alt="canva" class="clients-image" />
          <img src="/images/ipl.png" alt="ipl" class="clients-image" />
          <img
            src="/images/superrugby.png"
            alt="superrugby"
            class="clients-image"
          />
        </div>
        <div class="images-row-2">
          <img
            src="/images/disneyhotstar.png"
            alt="disneyhotstar"
            class="clients-image"
          />
          <img
            src="/images/cricketaustralia.png"
            alt="cricketaustralia"
            class="clients-image"
          />
          <img src="/images/sanzaar.png" alt="sanzaar" class="clients-image" />
          <img src="/images/star.png" alt="star" class="clients-image" />
        </div>
      </div>
      <div class="clients-text">
        <p>
          Our monitoring, detection and enforcement solutions help you
          understand and address piracy of your content.
        </p>
      </div>
    </section>

    <section id="contactus">
      <h3 class="fonts contact-header">Contact Us</h3>
      <div>
        <form action="" autocomplete="on" class="contact-form fonts">
          <input
            type="text"
            placeholder="Name*"
            required
            class="contact-name fonts"
          />
          <input
            type="text"
            placeholder="Email*"
            required
            class="contact-email fonts"
          />
          <br />
          <input
            type="text"
            placeholder="Subject*"
            required
            class="contact-subject fonts"
          />
          <br />
          <input
            type="textarea"
            placeholder="Message*"
            required
            class="contact-message fonts"
          />
          <br />
          <div class="contact-info">
            <i class="fas fa-envelope fa-5x"></i>
            <p style="margin-left: 30px; margin-top: 25px">
              INFO.@COPYRIGHTIINTEGRITY.COM
            </p>
            <input
              type="submit"
              class="btn btn-lg btn-primary btn-contact"
              data-bs-toggle="button"
            />
          </div>
        </form>
      </div>
    </section>

    <section id="notice" style="display: none">
      <h3 class="fonts notice-header">Received a Notice from us?</h3>
      <div class="notice-box">
        <ul class="notice-list fonts">
          <li>
            If you have received an Advance, Caution or Warning Notice from us,
            please make note of the contents. No further action needs to be
            taken on your part provided that your online and mobile activities,
            and the online and mobile activities of your business and/or
            organisation, do not in any way conflict with or compromise the
            proprietary rights of our clients.
          </li>
          <li>
            If you have received a Cease & Desist, Information Disclosure or
            Litigation Notice, read on.
          </li>
          <li>
            We send website operators and internet intermediaries legal notices
            on behalf of numerous rights holders. In every case, we undertake a
            detailed investigation on behalf of our clients prior to sending a
            notice. In most cases, infringers who respond expeditiously to our
            notices and refrain from repeat infringement of our clients' rights
            do not suffer any further legal consequences.
          </li>
          <li>
            If you have received a notice about a website you own, either
            directly addressed to you or forwarded to you by a service provider,
            it is essential that you take action on it expeditiously.
          </li>
          <li>
            If you require any additional information regarding the infringing
            content in question or your obligations and responsibilities
            relating to this content, you may email us at legal [@]
            copyrightintegrity [.] com specifying the Case Reference of the
            notice in the subject of your email.
          </li>
          <li>
            If you are a service provider and require further information on the
            violations reported in a notice, please first suspend the account(s)
            in question and write to us at escalation [@] copyrightintegrity [.]
            com.
          </li>
          <li>
            If you believe you have received a notice in error, please write to
            us at legal [@] copyrightintegrity [.] com specifying the Case
            Reference of the notice and providing information supporting your
            claim.
          </li>
          <li>
            If you seek clarification on the consequences of copyright or
            trademark infringement please seek independent legal advice.
          </li>
          <li>
            All cases of infringement are investigated and documented fully.
            Your failure to respond appropriately to a legal notice may have
            serious implications on your legal position in any resulting civil
            and/or criminal litigation.
          </li>
        </ul>
      </div>
      <a href="#contactus"
        ><button
          type="button"
          class="btn btn-lg btn-primary btn-notice"
          data-bs-toggle="button"
        >
          Contact Us
        </button></a
      >
    </section>

    <script>
      $(".navbar-nav li a").on("click", function () {
        $(".navbar-nav li a").removeClass("active");
        $(this).addClass("active");
      });

      $("#myCarousel").carousel({
        interval: 5000,
        keyboard: false,
        ride: "carousel",
      });

      $("#slideshow > div:gt(0)").hide();

      setInterval(function () {
        $("#slideshow > div:first")
          .fadeOut(1000)
          .next()
          .fadeIn(1000)
          .end()
          .appendTo("#slideshow");
      }, 3000);

      function ShowAndHide() {
        var x = document.getElementById("notice");
        if (x.style.display == "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
    </script>
  </body>
</html>
