html {
  overflow-x: hidden;
  background-color: #f2f2f2;
  scroll-behavior: smooth;
}
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}
/* Custom Scroll Bar */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue white;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 14px;
  height: 18px;
  background: white;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: blue;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset -1px 1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: white;
}

.fonts {
  font-family: "Open Sans", sans-serif;
}

.sticky-navbar {
  padding-bottom: 10px;
}

.nav-text {
  color: #005a98;
  margin-top: 14px;
}

.bg-light {
  background-color: white !important;
}

.navbar-collapse {
  flex-grow: 0;
}
.navbar-expand-lg .navbar-collapse {
  margin-left: auto;
}

.navbar-light .navbar-nav .nav-link {
  color: #005ab5;
}

.active {
  color: #005a98;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #005a98;
  font-weight: 700;
}

.navbar-light .navbar-link a,
.navbar-light .navbar-link a:hover,
.navbar-light .navbar-link a:focus {
  color: #005a98;
}
.custom-underline {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin: 5px;
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: #005a98;
  text-decoration: none;
}

.custom-underline::after {
  content: "";
  position: absolute;
}
.box-e .custom-underline::after {
  top: 85%;
  height: 2px;
  width: 0%;
  left: 5%;
  background-color: #005a98;
  transition: 0.3s ease all 0.1s;
}

.box-e:hover .custom-underline::after {
  width: 90%;
  transition: 0.3s ease all;
  font-weight: 600;
}

.img-logo {
  height: 80px;
}

.img-fluid {
  height: 820px;
  width: 100%;
}

#myCarousel {
  padding-top: 100px;
  padding-bottom: 10px;
}

.bottom-right {
  position: relative;
  bottom: 8px;
  cursor: pointer;
  right: 5px;
  left: 800px;
}

.carousel-caption {
  position: absolute; /* Position the background text */
  background: rgb(0, 0, 0); /*Fallback color*/
  background: rgba(0, 0, 0, 0.5); /*Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding: 20px 20px 5px 20px; /* Some padding */
  top: 50%;
  left: 50%;
  height: 22%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.caption-header {
  font-weight: 700;
  font-size: 19px;
}

.caption-text {
  font-weight: 400;
  font-size: 16px;
}

.tooltip2 {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip2 .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  width: 120px;
  bottom: 100%;
  left: 845px;
  margin-left: -60px;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip2:hover .tooltiptext {
  visibility: visible;
}

.our-mission {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 30px;
}

.mission-header {
  font-size: 50px;
  font-weight: 700;
}

._70-block {
  width: 70%;
  background-color: #005a98;
  color: white;
  padding: 100px 20px 5px 20px;
  height: 750px;
  vertical-align: middle;
  text-align: center;
}

._30-block {
  padding: 0px 0px 10px 20px;
}

#slideshow {
  position: relative;
  width: 240px;
  height: 500px;
  padding-left: 20px;
}

#slideshow > div {
  position: absolute;
}

.image-slideshow {
  height: 400px;
  width: 500px;
}

.mission-text {
  font-size: 25px;
  width: 70%;
  text-align: left;
  margin-left: 175px;
  margin-top: 80px;
  padding: 10px;
  align-items: center;
  top: 50%;
  left: 50%;
  font-weight: 400;
}

#services {
  padding-top: 90px;
}

.services-header {
  font-size: 50px;
  font-weight: 700;
  color: #005a98;
  text-align: center;
  padding-bottom: 20px;
}

.card-deck {
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-deck .card {
  background-color: #005a98;
  height: 250px;
  width: 150px;
  border-radius: 30px;
  color: #f1f1f1;
}

.icons {
  font-size: 6em;
  display: block;
  margin: auto;
  margin-top: 70px;
  color: #f1f1f1;
}

.card-text {
  margin: auto;
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
}

.helpbox {
  display: flex;
  align-items: center;
  margin-left: 700px;
  padding-bottom: 50px;
}

.help {
  font-size: 50px;
  font-weight: 300;
  color: #005a98;
  text-align: center;
}

.btn {
  color: #f1f1f1;
  background-color: #005a98;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  margin-left: 20px;
  border-radius: 50px;
}

.impact-page {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 30px;
}

.impact-header {
  font-size: 50px;
  font-weight: 700;
}

.impact-text-left {
  font-size: 25px;
  width: 60%;
  text-align: center;
  margin-left: 150px;
  margin-top: 80px;
  padding: 10px;
  align-items: center;
  top: 50%;
  left: 40%;
  font-weight: 400;
}

._30 {
  width: 90%;
  background-color: #fff;
  color: #005a98;
  padding: 100px 20px 5px 20px;
  height: 750px;
  vertical-align: middle;
  text-align: center;
}

._70 {
  width: 100%;
}

.blocks {
  display: flex;
  background-color: #005a98;
  color: #fff;
  padding: 10px 0px 10px 10px;
  height: 150px;
  width: 100%;
  margin: 70px 0px 10px 10px;
}

.icons-impact {
  margin: 5px 10px 0px 60px;
  font-size: 4em;
}

.impact-numbers {
  font-weight: 700;
  font-size: 50px;
  margin: 0px 10px 0px 40px;
}

.impact-title {
  font-size: 30px;
  font-weight: 400;
}

.impact-text {
  font-size: 22px;
  margin: 0px 10px 0px 50px;
  width: 30%;
  text-align: center;
  padding: 30px 0px 10px 20px;
}

#clients {
  padding-top: 100px;
  padding-bottom: 50px;
}

.clients-header {
  font-size: 50px;
  font-weight: 700;
  color: #005a98;
  text-align: center;
  padding-bottom: 20px;
}

.images-box {
  width: 100%;
  text-align: center;
}

.images-row-1 {
  padding-bottom: 10px;
}

.images-row-2 {
  padding-top: 10px;
}

.clients-image {
  width: 250px;
  height: 250px;
  margin-left: 20px;
  margin-right: 30px;
}

.clients-text {
  background-color: #005a98;
  color: #f1f1f1;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  width: 50%;
  border-radius: 10px;
  display: flex;
  padding-top: 10px;
  margin-top: 40px;
  margin-left: 470px;
}

#contactus {
  padding-top: 100px;
  padding-bottom: 70px;
}

.contact-header {
  font-size: 50px;
  font-weight: 700;
  color: #005a98;
  text-align: center;
  padding-bottom: 20px;
}

.contact-form {
  padding-top: 30px;
  margin-left: 250px;
}

.contact-name {
  border: 5px solid #005a98;
  width: 40%;
  font-size: 20px;
  margin-right: 30px;
  margin-left: 20px;
  padding: 10px;
}

.contact-email {
  border: 5px solid #005a98;
  width: 40%;
  font-size: 20px;
  margin-right: 20px;
  padding: 10px;
}

.contact-subject {
  border: 5px solid #005a98;
  width: 82%;
  font-size: 20px;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 40px;
  padding: 10px;
}

.contact-message {
  border: 5px solid #005a98;
  width: 82%;
  font-size: 20px;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 40px;
  padding: 10px 10px 100px 10px;
}

.contact-info {
  color: #005a98;
  display: flex;
  margin-top: 30px;
}

.icon-contact {
  font-size: 5em;
  margin-left: 20px;
}

.contact-email-info {
  margin-left: 30px;
  margin-top: 25px;
}

.btn-contact {
  display: flex;
  font-size: 25px;
  margin: 0px 0px 0px 830px;
}

#notice {
  padding-top: 80px;
}

.notice-header {
  font-size: 50px;
  font-weight: 700;
  color: #005a98;
  text-align: center;
  padding-bottom: 20px;
}

.notice-box {
  margin-top: 20px;
  width: 95%;
  margin-left: 30px;
}

.notice-list {
  color: #005a98;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}

.btn-notice {
  font-size: 20px;
  border-radius: 25px;
  margin: 10px 0px 30px 1600px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: rgb(78, 78, 78);
  text-align: center;
}

@media only screen and (max-width: 449px) {
  .nav-text {
    font-size: 15px;
    width: 10%;
  }
  .img-logo {
    height: 50px;
  }
  .img-fluid {
    width: 100%;
    height: 700px;
  }

  .tooltip2 .tooltiptext {
    left: 160%;
  }

  .carousel-caption {
    padding: 5px;
    height: 42%;
  }
  .caption-header {
    font-weight: 600;
    font-size: 12px;
  }
  .caption-text {
    font-size: 10px;
  }
  .bottom-right {
    left: 110%;
  }

  .our-mission {
    align-items: flex-start;
    flex-direction: column;
  }
  ._70-block {
    width: 100%;
    margin-bottom: 10px;
  }
  .mission-header {
    font-size: 40px;
  }
  .mission-text {
    font-size: 19px;
    margin-left: 10px;
    margin-top: 30px;
    width: 90%;
    text-align: center;
  }
  ._30-block {
    padding-left: 12px;
  }
  #slideshow {
    padding-left: 0px;
    height: 350px;
  }
  .image-slideshow {
    height: 300px;
    width: 350px;
  }

  .services-header {
    font-size: 40px;
  }
  .icons {
    font-size: 3em;
    margin-top: 35px;
  }
  .card-text {
    margin-top: 2px;
    font-size: 15px;
  }
  .help {
    font-size: 30px;
  }
  .btn-services {
    margin-left: 25%;
    font-size: 15px;
  }
  .helpbox {
    display: block;
    margin-left: 5px;
  }

  .impact-page {
    flex-direction: column;
  }
  .impact-header {
    font-size: 40px;
  }
  ._30 {
    height: 470px;
  }
  .impact-text-left {
    margin-left: 20%;
    margin-top: 5px;
    padding: 2px;
    font-size: 18px;
  }
  .blocks {
    margin: 60px 5px 5px 5px;
    width: 98%;
  }
  .impact-title {
    font-size: 18px;
  }
  .icons-impact {
    font-size: 2em;
  }
  .impact-numbers {
    font-size: 25px;
  }
  .impact-text {
    font-size: 10px;
    margin: 0px 5px 0px 0px;
    padding: 5px 5px 0px 0px;
  }

  .clients-header {
    font-size: 40px;
  }
  .clients-text {
    margin-left: 25%;
    font-size: 25px;
    padding: 5px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-form {
    margin-left: 10px;
  }
  .contact-name {
    margin-right: 10px;
  }
  .icon-contact {
    font-size: 3em;
  }
  .contact-info {
    flex-wrap: wrap;
  }
  .btn-contact {
    margin-left: 30px;
    font-size: 20px;
  }

  .notice-header {
    font-size: 40px;
    width: 80%;
    margin-left: 10%;
  }
  .notice-box {
    margin-left: 10px;
  }
  .btn-notice {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 649px) {
  .nav-text {
    font-size: 15px;
    width: 10%;
  }
  .img-logo {
    height: 70px;
  }
  .img-fluid {
    width: 100%;
    height: 700px;
  }
  .tooltip2 .tooltiptext {
    left: 215%;
  }
  .carousel-caption {
    padding: 5px;
    height: 30%;
  }
  .caption-header {
    font-weight: 600;
    font-size: 12px;
  }
  .caption-text {
    font-size: 10px;
  }
  .bottom-right {
    left: 150px;
  }

  .our-mission {
    align-items: flex-start;
    flex-direction: column;
  }
  ._70-block {
    width: 100%;
    margin-bottom: 10px;
    height: 700px;
  }
  .mission-header {
    font-size: 40px;
  }
  .mission-text {
    font-size: 21px;
    margin-left: 10px;
    margin-top: 30px;
    width: 90%;
    text-align: center;
  }
  ._30-block {
    padding-left: 10%;
  }
  #slideshow {
    padding-left: 0px;
    height: 350px;
  }
  .image-slideshow {
    height: 400px;
    width: 450px;
  }

  .services-header {
    font-size: 40px;
  }
  .icons {
    font-size: 3em;
    margin-top: 35px;
  }
  .card-deck {
    margin-left: 20px;
    margin-right: 10px;
  }
  .card-text {
    margin-top: 2px;
    font-size: 15px;
  }
  .help {
    font-size: 30px;
  }
  .btn-services {
    margin-left: 35%;
    font-size: 15px;
  }
  .helpbox {
    display: block;
    margin-left: 5px;
  }

  .impact-page {
    flex-direction: column;
  }
  .impact-header {
    font-size: 40px;
  }
  ._30 {
    height: 400px;
  }
  .impact-text-left {
    margin-left: 20%;
    padding: 2px;
    font-size: 21px;
  }
  .blocks {
    margin: 60px 5px 5px 5px;
    width: 98%;
  }
  .impact-title {
    font-size: 21px;
  }
  .icons-impact {
    font-size: 3em;
  }
  .impact-numbers {
    font-size: 28px;
  }
  .impact-text {
    font-size: 15px;
    margin: 0px 5px 0px 0px;
    padding: 5px 5px 0px 0px;
  }

  .clients-header {
    font-size: 40px;
  }
  .clients-text {
    margin-left: 25%;
    font-size: 25px;
    padding: 5px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-form {
    margin-left: 10px;
  }
  .contact-name {
    margin-right: 10px;
  }
  .icon-contact {
    font-size: 3em;
  }
  .contact-info {
    flex-wrap: wrap;
    margin-left: 5%;
  }
  .btn-contact {
    margin-left: 30px;
    font-size: 20px;
  }

  .notice-header {
    font-size: 40px;
    width: 80%;
    margin-left: 10%;
  }
  .notice-box {
    margin-left: 10px;
  }
  .btn-notice {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
  .nav-text {
    font-size: 15px;
    width: 10%;
  }
  .img-logo {
    height: 70px;
  }
  .img-fluid {
    width: 100%;
    height: 700px;
  }
  .tooltip2 .tooltiptext {
    left: 340%;
  }
  .carousel-caption {
    padding: 5px;
    height: 35%;
  }
  .caption-header {
    font-weight: 600;
    font-size: 14px;
  }
  .caption-text {
    font-size: 12.5px;
  }
  .bottom-right {
    left: 250px;
  }

  .our-mission {
    align-items: flex-start;
    flex-direction: column;
  }
  ._70-block {
    width: 100%;
    margin-bottom: 10px;
    height: 700px;
  }
  .mission-header {
    font-size: 50px;
    margin-left: 5%;
  }
  .mission-text {
    font-size: 21px;
    margin-left: 5%;
    margin-top: 50px;
    width: 90%;
    text-align: center;
  }
  ._30-block {
    padding-left: 5%;
  }
  #slideshow {
    padding-left: 5%;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .image-slideshow {
    height: 500px;
    width: 550px;
  }

  .services-header {
    font-size: 50px;
  }
  .icons {
    font-size: 5em;
    margin-top: 35px;
    margin-left: 5%;
  }
  .card-deck {
    margin-left: 20px;
    margin-right: 10px;
  }
  .card-text {
    margin-top: 2px;
    font-size: 16px;
  }
  .help {
    font-size: 30px;
  }
  .btn-services {
    font-size: 25px;
  }
  .helpbox {
    margin-left: 30%;
  }

  .impact-page {
    flex-direction: column;
  }
  .impact-header {
    font-size: 50px;
  }
  ._30 {
    height: 400px;
  }
  .impact-text-left {
    margin-left: 20%;
    padding: 2px;
    font-size: 25px;
  }
  .blocks {
    margin: 60px 5px 5px 5px;
    width: 98%;
  }
  .impact-title {
    font-size: 21px;
    margin-right: 5%;
  }
  .icons-impact {
    font-size: 4em;
    margin-left: 5%;
  }
  .impact-numbers {
    font-size: 35px;
    margin-left: 10%;
  }
  .impact-text {
    font-size: 20px;
    margin: 0px 5px 0px 10%;
    padding: 5px 5px 0px 0px;
  }

  .clients-header {
    font-size: 50px;
  }
  .clients-text {
    margin-left: 25%;
    font-size: 25px;
    padding: 5px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-form {
    margin-left: 15%;
  }
  .contact-name {
    margin-right: 10px;
  }
  .icon-contact {
    font-size: 4em;
  }
  .contact-info {
    flex-wrap: wrap;
    margin-left: 5%;
  }
  .btn-contact {
    margin-left: 20%;
    font-size: 20px;
  }

  .notice-header {
    font-size: 50px;
    width: 80%;
    margin-left: 10%;
  }
  .notice-box {
    margin-left: 10px;
  }
  .btn-notice {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .nav-text {
    font-size: 15px;
    width: 10%;
  }
  .img-logo {
    height: 70px;
  }
  .img-fluid {
    width: 100%;
    height: 700px;
  }
  .tooltip2 .tooltiptext {
    left: 390%;
  }
  .carousel-caption {
    padding: 5px;
    height: 30%;
  }
  .caption-header {
    font-weight: 600;
    font-size: 16px;
  }
  .caption-text {
    font-size: 14px;
  }
  .bottom-right {
    left: 300px;
  }

  .our-mission {
    align-items: flex-start;
    flex-direction: column;
  }
  ._70-block {
    width: 100%;
    margin-bottom: 10px;
    height: 700px;
  }
  .mission-header {
    font-size: 50px;
    margin-left: 5%;
  }
  .mission-text {
    font-size: 21px;
    margin-left: 5%;
    margin-top: 50px;
    width: 90%;
    text-align: center;
  }
  ._30-block {
    padding-left: 10%;
  }
  #slideshow {
    padding-left: 15%;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .image-slideshow {
    height: 500px;
    width: 550px;
  }

  .services-header {
    font-size: 50px;
  }
  .icons {
    font-size: 5em;
    margin-top: 35px;
  }
  .card-deck {
    margin-left: 20px;
    margin-right: 10px;
  }
  .card-text {
    margin-top: 2px;
    font-size: 18px;
  }
  .help {
    font-size: 40px;
  }
  .btn-services {
    font-size: 25px;
  }
  .helpbox {
    margin-left: 30%;
  }

  .impact-page {
    flex-direction: column;
  }
  .impact-header {
    font-size: 50px;
  }
  ._30 {
    height: 400px;
  }
  .impact-text-left {
    margin-left: 20%;
    padding: 2px;
    font-size: 25px;
  }
  .blocks {
    margin: 60px 5px 5px 5px;
    width: 98%;
  }
  .impact-title {
    font-size: 21px;
    margin-right: 5%;
  }
  .icons-impact {
    font-size: 4em;
    margin-left: 5%;
  }
  .impact-numbers {
    font-size: 35px;
    margin-left: 10%;
  }
  .impact-text {
    font-size: 20px;
    margin: 0px 5px 0px 10%;
    padding: 5px 5px 0px 0px;
  }

  .clients-header {
    font-size: 50px;
  }
  .clients-text {
    margin-left: 25%;
    font-size: 25px;
    padding: 5px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-form {
    margin-left: 15%;
  }
  .contact-name {
    margin-right: 10px;
  }
  .icon-contact {
    font-size: 4em;
  }
  .contact-info {
    flex-wrap: wrap;
    margin-left: 5%;
  }
  .btn-contact {
    margin-left: 20%;
    font-size: 20px;
  }

  .notice-header {
    font-size: 50px;
    width: 80%;
    margin-left: 10%;
  }
  .notice-box {
    margin-left: 10px;
  }
  .btn-notice {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1089px) {
  .nav-text {
    font-size: 15px;
    width: 10%;
  }
  .img-logo {
    height: 70px;
  }
  .img-fluid {
    width: 100%;
    height: 700px;
  }
  .tooltip2 .tooltiptext {
    left: 450%;
  }
  .carousel-caption {
    padding: 5px;
    height: 30%;
  }
  .caption-header {
    font-weight: 600;
    font-size: 16px;
  }
  .caption-text {
    font-size: 14px;
  }
  .bottom-right {
    left: 350px;
  }

  .our-mission {
    align-items: flex-start;
    flex-direction: column;
  }
  ._70-block {
    width: 100%;
    margin-bottom: 10px;
    height: 700px;
  }
  .mission-header {
    font-size: 50px;
    margin-left: 5%;
  }
  .mission-text {
    font-size: 21px;
    margin-left: 5%;
    margin-top: 50px;
    width: 90%;
    text-align: center;
  }
  ._30-block {
    padding-left: 10%;
  }
  #slideshow {
    padding-left: 50%;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .image-slideshow {
    height: 500px;
    width: 550px;
  }

  .services-header {
    font-size: 50px;
  }
  .icons {
    font-size: 5em;
    margin-top: 35px;
  }
  .card-deck {
    margin-left: 20px;
    margin-right: 10px;
  }
  .card-text {
    margin-top: 2px;
    font-size: 18px;
  }
  .help {
    font-size: 40px;
  }
  .btn-services {
    font-size: 25px;
  }
  .helpbox {
    margin-left: 30%;
  }

  .impact-page {
    flex-direction: column;
  }
  .impact-header {
    font-size: 50px;
  }
  ._30 {
    height: 400px;
  }
  .impact-text-left {
    margin-left: 20%;
    padding: 2px;
    font-size: 25px;
  }
  .blocks {
    margin: 60px 5px 5px 5px;
    width: 98%;
  }
  .impact-title {
    font-size: 21px;
    margin-right: 5%;
  }
  .icons-impact {
    font-size: 4em;
    margin-left: 5%;
  }
  .impact-numbers {
    font-size: 35px;
    margin-left: 10%;
  }
  .impact-text {
    font-size: 20px;
    margin: 0px 5px 0px 10%;
    padding: 5px 5px 0px 0px;
  }

  .clients-header {
    font-size: 50px;
  }
  .clients-text {
    margin-left: 25%;
    font-size: 25px;
    padding: 5px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-form {
    margin-left: 15%;
  }
  .contact-name {
    margin-right: 10px;
  }
  .icon-contact {
    font-size: 4em;
  }
  .contact-info {
    flex-wrap: wrap;
    margin-left: 5%;
  }
  .btn-contact {
    margin-left: 20%;
    font-size: 20px;
  }

  .notice-header {
    font-size: 50px;
    width: 80%;
    margin-left: 10%;
  }
  .notice-box {
    margin-left: 10px;
  }
  .btn-notice {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1090px) and (max-width: 1172px) {
  .nav-text {
    font-size: 15px;
    width: 10%;
  }
  .img-logo {
    height: 70px;
  }
  .img-fluid {
    width: 100%;
    height: 700px;
  }
  .tooltip2 .tooltiptext {
    left: 450%;
  }
  .carousel-caption {
    padding: 5px;
    height: 30%;
  }
  .caption-header {
    font-weight: 600;
    font-size: 16px;
  }
  .caption-text {
    font-size: 14px;
  }
  .bottom-right {
    left: 350px;
  }

  .our-mission {
    align-items: flex-start;
    flex-direction: column;
  }
  ._70-block {
    width: 100%;
    margin-bottom: 10px;
    height: 700px;
  }
  .mission-header {
    font-size: 50px;
    margin-left: 5%;
  }
  .mission-text {
    font-size: 21px;
    margin-left: 5%;
    margin-top: 90px;
    width: 90%;
    text-align: center;
  }
  ._30-block {
    padding-left: 10%;
  }
  #slideshow {
    padding-left: 85%;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .image-slideshow {
    height: 500px;
    width: 550px;
  }

  .services-header {
    font-size: 50px;
  }
  .icons {
    font-size: 5em;
    margin-top: 70px;
  }
  .card-deck {
    margin-left: 20px;
    margin-right: 10px;
  }
  .card-text {
    margin-top: 60px;
    font-size: 18px;
  }
  .help {
    font-size: 40px;
  }
  .btn-services {
    font-size: 25px;
  }
  .helpbox {
    margin-left: 30%;
  }

  .impact-page {
    flex-direction: column;
  }
  .impact-header {
    font-size: 50px;
  }
  ._30 {
    height: 400px;
  }
  .impact-text-left {
    margin-left: 20%;
    padding: 2px;
    font-size: 25px;
  }
  .blocks {
    margin: 60px 5px 5px 5px;
    width: 98%;
  }
  .impact-title {
    font-size: 21px;
    margin-right: 5%;
  }
  .icons-impact {
    font-size: 4em;
    margin-left: 5%;
  }
  .impact-numbers {
    font-size: 35px;
    margin-left: 10%;
  }
  .impact-text {
    font-size: 20px;
    margin: 0px 5px 0px 10%;
    padding: 5px 5px 0px 0px;
  }

  .clients-header {
    font-size: 50px;
  }
  .clients-text {
    margin-left: 25%;
    font-size: 25px;
    padding: 5px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-form {
    margin-left: 15%;
  }
  .contact-name {
    margin-right: 10px;
  }
  .icon-contact {
    font-size: 4em;
  }
  .contact-info {
    flex-wrap: wrap;
    margin-left: 5%;
  }
  .btn-contact {
    margin-left: 20%;
    font-size: 20px;
  }

  .notice-header {
    font-size: 50px;
    width: 80%;
    margin-left: 10%;
  }
  .notice-box {
    margin-left: 10px;
  }
  .btn-notice {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1173px) and (max-width: 1250px) {
  .nav-text {
    font-size: 15px;
    width: 10%;
  }
  .img-logo {
    height: 70px;
  }
  .img-fluid {
    width: 100%;
    height: 700px;
  }
  .tooltip2 .tooltiptext {
    left: 450%;
  }
  .carousel-caption {
    padding: 5px;
    height: 30%;
  }
  .caption-header {
    font-weight: 600;
    font-size: 16px;
  }
  .caption-text {
    font-size: 14px;
  }
  .bottom-right {
    left: 350px;
  }

  .our-mission {
    align-items: flex-start;
    flex-direction: column;
  }
  ._70-block {
    width: 100%;
    margin-bottom: 10px;
    height: 700px;
  }
  .mission-header {
    font-size: 50px;
    margin-left: 5%;
  }
  .mission-text {
    font-size: 21px;
    margin-left: 5%;
    margin-top: 90px;
    width: 90%;
    text-align: center;
  }
  ._30-block {
    padding-left: 10%;
  }
  #slideshow {
    padding-left: 85%;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .image-slideshow {
    height: 500px;
    width: 550px;
  }

  .services-header {
    font-size: 50px;
  }
  .icons {
    font-size: 5em;
    margin-top: 70px;
  }
  .card-deck {
    margin-left: 20px;
    margin-right: 10px;
  }
  .card-text {
    margin-top: 60px;
    font-size: 18px;
  }
  .help {
    font-size: 40px;
  }
  .btn-services {
    font-size: 25px;
  }
  .helpbox {
    margin-left: 30%;
  }

  .impact-page {
    flex-direction: column;
  }
  .impact-header {
    font-size: 50px;
  }
  ._30 {
    height: 400px;
  }
  .impact-text-left {
    margin-left: 20%;
    padding: 2px;
    font-size: 25px;
  }
  .blocks {
    margin: 60px 5px 5px 5px;
    width: 98%;
  }
  .impact-title {
    font-size: 21px;
    margin-right: 5%;
  }
  .icons-impact {
    font-size: 4em;
    margin-left: 5%;
  }
  .impact-numbers {
    font-size: 35px;
    margin-left: 10%;
  }
  .impact-text {
    font-size: 20px;
    margin: 0px 5px 0px 10%;
    padding: 5px 5px 0px 0px;
  }

  .clients-header {
    font-size: 50px;
  }
  .clients-text {
    margin-left: 25%;
    font-size: 25px;
    padding: 5px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-form {
    margin-left: 15%;
  }
  .contact-name {
    margin-right: 10px;
  }
  .icon-contact {
    font-size: 4em;
  }
  .contact-info {
    flex-wrap: wrap;
    margin-left: 5%;
  }
  .btn-contact {
    margin-left: 20%;
    font-size: 20px;
  }

  .notice-header {
    font-size: 50px;
    width: 80%;
    margin-left: 10%;
  }
  .notice-box {
    margin-left: 10px;
  }
  .btn-notice {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1251px) and (max-width: 1304px) {
  .nav-text {
    font-size: 15px;
    width: 10%;
  }
  .img-logo {
    height: 70px;
  }
  .img-fluid {
    width: 100%;
    height: 700px;
  }
  .tooltip2 .tooltiptext {
    left: 590%;
  }
  .carousel-caption {
    padding: 5px;
    height: 30%;
  }
  .caption-header {
    font-weight: 600;
    font-size: 18px;
  }
  .caption-text {
    font-size: 16px;
  }
  .bottom-right {
    left: 475px;
  }

  .our-mission {
    align-items: flex-start;
    flex-direction: column;
  }
  ._70-block {
    width: 100%;
    margin-bottom: 10px;
    height: 700px;
  }
  .mission-header {
    font-size: 50px;
    margin-left: 5%;
  }
  .mission-text {
    font-size: 21px;
    margin-left: 10%;
    margin-top: 90px;
    width: 80%;
    text-align: center;
  }
  ._30-block {
    padding-left: 10%;
  }
  #slideshow {
    padding-left: 105%;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .image-slideshow {
    height: 500px;
    width: 550px;
  }

  .services-header {
    font-size: 50px;
  }
  .icons {
    font-size: 6em;
    margin-top: 50px;
  }
  .card-deck {
    margin-left: 20px;
    margin-right: 10px;
  }
  .card-text {
    margin-top: 25%;
    font-size: 20px;
  }
  .help {
    font-size: 40px;
  }
  .btn-services {
    font-size: 25px;
  }
  .helpbox {
    margin-left: 30%;
  }

  .impact-page {
    flex-direction: column;
  }
  .impact-header {
    font-size: 50px;
  }
  ._30 {
    height: 400px;
  }
  .impact-text-left {
    margin-left: 20%;
    padding: 2px;
    font-size: 25px;
  }
  .blocks {
    margin: 60px 5px 5px 5px;
    width: 98%;
  }
  .impact-title {
    font-size: 21px;
    margin-right: 5%;
  }
  .icons-impact {
    font-size: 4em;
    margin-left: 5%;
  }
  .impact-numbers {
    font-size: 35px;
    margin-left: 10%;
  }
  .impact-text {
    font-size: 20px;
    margin: 0px 5px 0px 10%;
    padding: 5px 5px 0px 0px;
  }

  .clients-header {
    font-size: 50px;
  }
  .clients-text {
    margin-left: 25%;
    font-size: 25px;
    padding: 5px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-form {
    margin-left: 15%;
  }
  .contact-name {
    margin-right: 10px;
  }
  .icon-contact {
    font-size: 4em;
  }
  .contact-info {
    flex-wrap: wrap;
    margin-left: 5%;
  }
  .btn-contact {
    margin-left: 20%;
    font-size: 20px;
  }

  .notice-header {
    font-size: 50px;
    width: 80%;
    margin-left: 10%;
  }
  .notice-box {
    margin-left: 10px;
  }
  .btn-notice {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1305px) and (max-width: 1400px) {
  .nav-text {
    font-size: 15px;
    width: 10%;
  }
  .img-logo {
    height: 70px;
  }
  .img-fluid {
    width: 100%;
    height: 700px;
  }
  .tooltip2 .tooltiptext {
    left: 600%;
  }
  .carousel-caption {
    padding: 5px;
    height: 30%;
  }
  .caption-header {
    font-weight: 600;
    font-size: 18px;
  }
  .caption-text {
    font-size: 16px;
  }
  .bottom-right {
    left: 475px;
  }

  ._70-block {
    width: 65%;
    margin-bottom: 10px;
    height: 700px;
  }
  .mission-header {
    font-size: 50px;
    margin-left: 5%;
  }
  .mission-text {
    font-size: 21px;
    margin-left: 10%;
    margin-top: 90px;
    width: 80%;
    text-align: center;
  }
  ._30-block {
    padding-left: 0px;
  }
  #slideshow {
    height: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 20px;
  }
  .image-slideshow {
    height: 350px;
    width: 400px;
  }

  .services-header {
    font-size: 50px;
  }
  .icons {
    font-size: 6em;
    margin-top: 50px;
  }
  .card-deck {
    margin-left: 20px;
    margin-right: 10px;
  }
  .card-text {
    margin-top: 30%;
    font-size: 20px;
  }
  .help {
    font-size: 40px;
  }
  .btn-services {
    font-size: 25px;
  }
  .helpbox {
    margin-left: 30%;
  }

  .impact-header {
    font-size: 50px;
  }
  ._30 {
    height: 400px;
  }
  .impact-text-left {
    margin-left: 20%;
    padding: 2px;
    font-size: 25px;
  }
  .blocks {
    margin: 60px 5px 5px 5px;
    width: 98%;
  }
  .impact-title {
    font-size: 21px;
    margin-right: 5%;
  }
  .icons-impact {
    font-size: 4em;
    margin-left: 5%;
  }
  .impact-numbers {
    font-size: 35px;
    margin-left: 10%;
  }
  .impact-text {
    font-size: 20px;
    margin: 0px 5px 0px 10%;
    padding: 5px 5px 0px 0px;
  }

  .clients-header {
    font-size: 50px;
  }
  .clients-text {
    margin-left: 25%;
    font-size: 25px;
    padding: 15px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-form {
    margin-left: 15%;
  }
  .contact-name {
    margin-right: 10px;
  }
  .icon-contact {
    font-size: 4em;
  }
  .contact-info {
    flex-wrap: wrap;
    margin-left: 1%;
  }
  .btn-contact {
    margin-left: 35%;
    font-size: 20px;
  }

  .notice-header {
    font-size: 50px;
    width: 80%;
    margin-left: 10%;
  }
  .notice-box {
    margin-left: 10px;
  }
  .btn-notice {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1650px) {
  .nav-text {
    font-size: 15px;
    width: 10%;
  }
  .img-logo {
    height: 70px;
  }
  .img-fluid {
    width: 100%;
    height: 700px;
  }
  .tooltip2 .tooltiptext {
    left: 600%;
  }
  .carousel-caption {
    padding: 5px;
    height: 30%;
  }
  .caption-header {
    font-weight: 600;
    font-size: 18px;
  }
  .caption-text {
    font-size: 16px;
  }
  .bottom-right {
    left: 475px;
  }

  ._70-block {
    width: 65%;
    margin-bottom: 10px;
    height: 700px;
  }
  .mission-header {
    font-size: 50px;
    margin-left: 5%;
  }
  .mission-text {
    font-size: 21px;
    margin-left: 10%;
    margin-top: 90px;
    width: 80%;
    text-align: center;
  }
  ._30-block {
    padding-left: 0px;
  }
  #slideshow {
    height: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 40px;
  }
  .image-slideshow {
    height: 400px;
    width: 450px;
  }

  .services-header {
    font-size: 50px;
  }
  .icons {
    font-size: 6em;
    margin-top: 50px;
  }
  .card-deck {
    margin-left: 20px;
    margin-right: 10px;
  }
  .card-text {
    margin-top: 30%;
    font-size: 20px;
  }
  .help {
    font-size: 40px;
  }
  .btn-services {
    font-size: 25px;
  }
  .helpbox {
    margin-left: 30%;
  }

  .impact-header {
    font-size: 50px;
  }
  ._30 {
    height: 400px;
  }
  .impact-text-left {
    margin-left: 20%;
    padding: 2px;
    font-size: 25px;
  }
  .blocks {
    margin: 60px 5px 5px 5px;
    width: 98%;
  }
  .impact-title {
    font-size: 21px;
    margin-right: 5%;
  }
  .icons-impact {
    font-size: 4em;
    margin-left: 5%;
  }
  .impact-numbers {
    font-size: 35px;
    margin-left: 10%;
  }
  .impact-text {
    font-size: 20px;
    margin: 0px 5px 0px 10%;
    padding: 5px 5px 0px 0px;
  }

  .clients-header {
    font-size: 50px;
  }
  .clients-text {
    margin-left: 25%;
    font-size: 25px;
    padding: 15px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-form {
    margin-left: 15%;
  }
  .contact-name {
    margin-right: 10px;
  }
  .icon-contact {
    font-size: 4em;
  }
  .contact-info {
    flex-wrap: wrap;
    margin-left: 1%;
  }
  .btn-contact {
    margin-left: 35%;
    font-size: 20px;
  }

  .notice-header {
    font-size: 50px;
    width: 80%;
    margin-left: 10%;
  }
  .notice-box {
    margin-left: 10px;
  }
  .btn-notice {
    margin-left: 50px;
  }
}
