html {
  overflow-x: hidden;
}

/* Custom Scroll Bar */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue white;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 14px;
  height: 18px;
  background: white;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: blue;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: white;
}

.fonts {
  font-family: "Open Sans", sans-serif;
}

.sticky-navbar {
  padding-bottom: 10px;
}

.nav-text {
  color: #005a98;
  margin-top: 14px;
}

.bg-light {
  background-color: white !important;
}

.navbar-collapse {
  flex-grow: 0;
}
.navbar-expand-lg .navbar-collapse {
  margin-left: auto;
}

.navbar-light .navbar-nav .nav-link {
  color: #005ab5;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #005a98;
  font-weight: 600;
}

.navbar-light .navbar-link a,
.navbar-light .navbar-link a:hover,
.navbar-light .navbar-link a:focus {
  color: #005a98;
}
.custom-underline {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin: 5px;
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: #005a98;
  text-decoration: none;
}

.custom-underline::after {
  content: "";
  position: absolute;
}
.box-e .custom-underline::after {
  top: 85%;
  height: 2px;
  width: 0%;
  left: 5%;
  background-color: #005a98;
  transition: 0.3s ease all 0.1s;
}

.box-e:hover .custom-underline::after {
  width: 90%;
  transition: 0.3s ease all;
  font-weight: 600;
}

.img-logo {
  height: 80px;
}

.img-fluid {
  height: 820px;
  width: 100%;
}

#myCarousel {
  padding-top: 100px;
  padding-bottom: 10px;
}

.bottom-right {
  position: relative;
  bottom: 8px;
  cursor: pointer;
  right: 5px;
  left: 800px;
}

.carousel-caption {
  position: absolute; /* Position the background text */
  background: rgb(0, 0, 0); /*Fallback color*/
  background: rgba(0, 0, 0, 0.5); /*Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding: 20px 20px 5px 20px; /* Some padding */
  top: 50%;
  left: 50%;
  height: 22%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen {
}

.tooltip2 {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip2 .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  width: 120px;
  bottom: 100%;
  left: 845px;
  margin-left: -60px;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip2:hover .tooltiptext {
  visibility: visible;
}
